@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:ital,wght@1,400;1,700&family=Inter:wght@400;700&display=swap');

body, html, #root, .app {
  height: 100%;
  width: 100%;
  font-family: 'Gentium Book Plus', serif;
  font-family: 'Inter', sans-serif;
}